.cabecalho{
    background-color: rgb(184, 13, 13);
    display: flex;
    justify-content: center;
}
a{
    color: #fff;
    margin: 25px;
    font-size: px;
}
.etec{
    display: flex;
    justify-content: center;
}
body{
    margin: 0%;
}