.card{
    border: 1px solid #000;
    background-color: #fff;
    width: 268px;
    height: 474px;
    margin: 10px;
    border-radius: 10px;
}
.card-description{
    font-family: Arial, Helvetica, sans-serif;
}
.card-star{
    color: orange;
    display: flex;
    justify-content:end; 
}
.body{
    display: flex;
}
.card-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.card-desconto{
    margin-top: 5%;
    display: flex;
    
    
}
.card-price{
    margin-top: 5%;
}
.card-parcelamento{
    margin-top: 5%;
}
.card-buttom-buy{
    margin-top: 5%;
}
.Espaço{
    margin-top: 3%;
}


