.card{
    border: 1px solid #000;
    background-color: #fff;
    width: 268px;
    height: 474px;
    margin: 10px;
    border-radius: 10px;
}
.card-description{
    font-family: Arial, Helvetica, sans-serif;
}
.card-star{
    color: #ff6600;
    display: flex;
    justify-content:end;
    margin-top: 5%;

}
.body{
    display: flex;
}
.card-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.card-desconto{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.card-price{
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.card-parcelamento{
    margin-top: 5%;
}
.card-buttom-buy{
    margin-top: 10%;
    margin-left: 7%;
    width: 95%;
    height: 40px;
}
.Espaço{
    margin-top: 3%;
}
.risco{
    text-decoration: line-through;
    color: grey;
}
.din{
    color: #ff6600;
    font-size: 20px;
}
.des{
    color: #ffffff;
    background-color: #ff6600;
    border-radius: 10px;
    margin-left: 5%;
    align-items: center;
}
.botao{
    width: 90%;
    height: 40px;
    color: #fff;
    background-color:#ff6600; 
    border: none;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}



